
.harryPotter-color
{
    background-image: linear-gradient(2deg, #000000, #292929,#020202,#e6e6e6);
}

header nav .dropdown-menu
{
    background-color: #000;
}
header nav .dropdown-item
{
    color: #e2e0e0;;
}
header nav .dropdown-menu .dropdown-item:hover
{
    background-color: #100f0f;
    color: #e2e0e0;;
}


section .staffimage
{
    background-image: url(assets/1.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
}
section .btn
{
    background-color: #000000 !important;
    padding: 15px 0px;
    position: absolute;
    top: 24%;
}
section .btn a
{
    color: #ece8e8;
    text-decoration: none;
}

.team-staff .harry-card
{
    padding-top: 35px;
    background-image: linear-gradient(180deg, #565555, #b7b7b7,#020202,#000000);
}
.team-staff .harry-card img
{
    height: 200px;
    width: 100%;
    display: block;
    margin: auto;
}
.team-staff .harry-card h2
{
    color: #040404;
    font-family: fantasy;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.team-staff .harry-card div
{
    color: #cecece;
    opacity: 0.8;
    letter-spacing: 1px;
    font-size: 14px;
    padding-bottom:30px;
}
iframe
{
    padding: 0px !important;
}





.my-footer::before {  
    content: "";
    background-image: url('assets/prof.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.my-footer
{
  position: relative;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.my-footer .pb-60
{
    padding-bottom: 60px;
}
.my-footer p, .my-footer a
{
    color: #fff;
    opacity: 0.5;
}
.my-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.my-footer hr.small
{
  margin:20px 0
}
.my-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.my-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.my-footer .social-icons
{
  text-align:right
}
.my-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color: #000000;
  opacity: 1;
}
.copyright-text
{
  margin:0
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a:hover
{
  background-color:#000;
}


/************************ 2nd page *************/


.contact
{
  background-color: #000;
  color: #c5c5c5;
  padding-top: 40px;
  font-family: fangsong;
}

.contact h4
{
  color: #d4caca;
  margin-top: 20px;
  margin-bottom: 22px;
}
.contact p
{
  color: #b7b7b7;
}
.contact img
{
  padding-bottom: 50px;
  padding-top: 50px;
}



form input,form textarea
{
  display: block;
  width: 90%;
  margin: auto;
  padding: 18px;
  margin-bottom: 20px;
  background-color: #000000;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 30px;
  opacity: 0.6;
  text-align: center;
}
form textarea
{
  height: 170px;
}
form .submit
{
  background-color: #000;
  color: #fff;
  background-image: linear-gradient(0deg,#0b9eb7, #000000, #0d5986);
  border: solid 1px #fff;
  opacity: .8;
  text-transform: uppercase;
}
form .submit:hover
{
  background-image: linear-gradient(0deg, #ffffff, #8e8e8e,#fff);
  border: solid 1px #000;
  background-color: #fff;
  color: #000;
}